<% include ../partials/head %>

<div class="wrap">
    <div class="container-fluid overlay">
        <div id="cc" class="d-flex flex-row flex-nowrap art-gallery">
        <% artist.forEach(function(artist){ %>
  <div id="allartists" class="card text-white artist-card genre all-artists">
    <div class="side">
      <div class="card-header art-head">
       <H4 id="" class="card-title art-title">
           <% if (artist.name.length > 22) {
                var artistNewName = artist.name.slice(0,22);
                var artistNewName = artistNewName + "...";
              } else {
                  artistNewName = artist.name;
              }
           %>
           <%= artistNewName %>&nbsp;&nbsp;
        <span id="badge<%= artist._id %>" class="score-badge" >
         <script>
           function getRatings(){
            var score;
            fetch('https://blockparty.pizzaluce.com/api/artists/<%= artist._id %>/ratings')
            .then(function(res){
              return res.json();
            }).then(
                function(data) {
                  var score = 0;
                  for (var i = 0; i < data.length; i++) {
                   score += data[i].score;
                }
                score = score/data.length;
                score = (Math.round(score*5)/5).toFixed(2);
                
                var star1 = '<i class="material-icons star">grade</i>',
                    star2 = '<i class="material-icons star">grade grade</i>',
                    star3 = '<i class="material-icons star">grade grade grade</i>',
                    star4 = '<i class="material-icons star">grade grade grade grade</i>',
                    star5 = '<i class="material-icons star">grade grade grade grade grade</i>',
                    notrated = '<span class="rating-text"> - no ratings - </span>';
                    
                var test = document.querySelector("#badge<%= artist._id %>");
                if(score < 2){test.innerHTML = star1;} else
                if(score < 3){test.innerHTML = star2;} else
                if(score < 4){test.innerHTML = star3;} else
                if(score < 5){test.innerHTML = star4;} else
                if(score >= 5){test.innerHTML = star5;} else {
                  test.innerHTML = notrated;
                }
                var test = document.querySelector("#badge<%= artist._id %>");
          
            }).then(function(score){
                 test.innerText = score;
            }).catch(function(err){
              console.log(err)
            });
          }
          getRatings();
           // test.innerText = score;
         </script>
          </span></H4>
      </div>
      <div class="embed-responsive embed-responsive-4by3">
        <!-- user should only need to enter youtube video id-->
        
        <a href="/artists/<%= artist.id %>">
            <img class="embed-responsive-item yt-pic" src="https://img.youtube.com/vi/<%= artist.video %>/0.jpg" >
        </a>
      </div>
      <div class="card-body">
        <span class="genre"><%= artist.genre %></span>
        <p class="card-text"><%= artist.question %></p>
         
      
       <div>
         
         <a id="artist-card" class="more-btn btn btn-outline-secondary btn-small" href="/artists/<%= artist._id %>">More</a> </div>
        
        <!-- <a id="artist-card" class="more-btn btn btn-outline-secondary btn-small" data-toggle="modal" data-target="#login-warning" class="more-btn btn btn-outline-secondary btn-small" href="#">Review</a> </div> -->
        <!-- Button trigger modal -->
<!-- Modal -->
     
      </div>
    </div>
  </div>
  
   <!-- -->
  <% }); %>
        </div>
    </div>
   </div>
   
  
 
  
  
 <div id="board" class="table-responsive board2">
   <% if (currentUser) {%>
  
   
    <div class="card-body inbox-ratings">
    <div class="user-inbox-rating-header rating-comment container">
     <h6 class="rating-header-text">You've rated <%=userReviewed.length %> of <%= userReviewed.length + artist.length %> artists | Your average rating is
      <% 
        var totalScore = 0;
        for (var i=0; i < userReviewed.length; i++) {
           totalScore += userReviewed[i].score;
        } 
        var num =  totalScore/userReviewed.length;
        var avgScore = Math.round(num * 100) / 100 
      %>
       <%= avgScore %>
     </h6>
   </div>  
    <% userReviewed.forEach(function(userReviewed) { %>
       
      <%        var userReviewScore;
                var star1 = '<i class="material-icons star">grade</i>',
                    star2 = '<i class="material-icons star">grade grade</i>',
                    star3 = '<i class="material-icons star">grade grade grade</i>',
                    star4 = '<i class="material-icons star">grade grade grade grade</i>',
                    star5 = '<i class="material-icons star">grade grade grade grade grade</i>',
                    notrated = '<span class="rating-text"> - no ratings - </span>';
                    
                if(userReviewed.score < 2){userReviewScore = star1;} else
                if(userReviewed.score < 3){userReviewScore = star2;} else
                if(userReviewed.score < 4){userReviewScore = star3;} else
                if(userReviewed.score < 5){userReviewScore = star4;} else
                if(userReviewed.score >= 5){userReviewScore = star5;} else {
                  userReviewed.score = notrated;
                }
      %>
        
        <div id ="rating-<%=userReviewed.review_id %>" class="container rating-comment">
          <div class="rating-artist-thumbnail"><img style="float:left;margin-right:5px;border-radius:5px" src="http://img.youtube.com/vi/<%= userReviewed.artist_avatar %>/1.jpg" width="50px"></div>
          <div class="rating-header-box"><h4 class=" rating-card-text rating-card-title card-title">
            <% if (userReviewed.artist.length > 22) {
                  userReviewed.artist = userReviewed.artist.slice(0,22) + "...";
                } %>
            <%= userReviewed.artist %><span>&ensp;<%-userReviewScore%></span></h4></div>
         <hr>
          <div class="rating">
          <div>
            <div class="row">
              <div class="col-1">
                <img src="<%= userReviewed.user_avatar %>"style="border-radius:50%; margin-left:10px; float:left" width="25px">
              </div>
              <div class="col-11 box3 sb14">
                <p id="<%= userReviewed.review_id %>-p" class="rating-card-text rating-card-p"><%= userReviewed.comment %></p>
              </div>
            </div>
          </div>
          
        <!-- Draw -->
        <form id="<%= userReviewed.review_id %>-form" class="rate-form" action="/rating/<%= userReviewed.review_id %>?_method=PUT" method="POST">
            
            <div class="star-holder" style="float:left; margin:5px 0px -5px -17px">
	        <div class="rating-wrapper">
         <!-- <input type="radio" class="rating-input" id="score1" name="rating[score]" value="5" />
          <label for="score1" class="rating-star"></label>
          <input type="radio" class="rating-input" id="score2" name="rating[score]" value="4" />
          <label for="score2" class="rating-star"></label>
          <input type="radio" class="rating-input" id="score3" name="rating[score]" value="3" />
          <label for="score3" class="rating-star"></label>
          <input type="radio" class="rating-input" id="score4" name="rating[score]" value="2" />
          <label for="score4" class="rating-star"></label>
          <input type="radio" class="rating-input" id="score5" name="rating[score]" value="1" />
          <label for="score5" class="rating-star"></label> -->
             <table class="controls rating">
          <tr><td>
          		<label><input type="radio" name="rating[score]" value="1" />1</label>
          </td>
          <td>
          		<label><input type="radio" name="rating[score]" value="2" />2</label>
          </td>
          <td>
          		<label><input type="radio" name="rating[score]" value="3" />3</label>
          </td>
          <td>
          		<label><input type="radio" name="rating[score]" value="4" />4</label>
          </td>
          <td>
          		<label><input type="radio" name="rating[score]" value="5" />5</label>
          </td>
          </tr>
          </table>
          
          </div>
        </div>
            <textarea name="rating[comment]" id="exampleFormControlTextarea1" class="form-control form-control rating-comment" data-autosize-input='{ "space": 40 }' rows="1"><%= userReviewed.comment %></textarea>
            <div class="rating-comment-esc">press esc or <a id="<%=userReviewed.review_id %>-esc" class="cancel-button">cancel</a></div>
            <button id="<%=userReviewed.review_id %>-submit" style="display:none;" type="submit">Submit!</button>
        </form>
        </div>
          <div id="<%= userReviewed.review_id %>-rating-btn-grp" class="rating-button-group">
            <button id="<%= userReviewed.review_id %>" class="rating-card-edit-btn rating-card-button rating-card-btn" data-value="rating-<%=userReviewed.review_id%>">
              <span class="rating-card-buttons">edit </span></button>
              <span style="font-size:14px;color:#f41055;">|</span>
            <form class="delete-form" action="/rating/<%=userReviewed.review_id %>?_method=DELETE" method="POST">
              <button style="border:none;background:transparent; cursor:pointer;" class="rating-card-button" type="submit"><span class="rating-card-buttons">delete</span></button>
            </form>
            
           <%  var monthNames = [
                "Jan", "Feb", "Mar",
                "Apr", "May", "Jun", "Jul",
                "Aug", "Sept", "Oct",
                "Nov", "Dec"
              ];
              date = userReviewed.date;
              date = date.substring(0, date.length -1);
              date = new Date(date);
           %>
           
          <span class="rating-card-date rating-card-text"><%= date %></span></div>
        </div>
        
         
    <% });%>
    </div>
  
    
    
    
   <% } %>
 </div>



<script>
 $(document).ready(function(){
   $('.rate-form').hide();
   $('.rating-card-edit-btn').click(function(){
  /*  $('a').click(function (event){ 
     event.preventDefault(); 
    }); */
    var p = $('#' + this.id + '-p');
    var submit = $('#' + this.id + '-submit');
    var form = $('#' + this.id + '-form');
    var esc = $('#' + this.id + '-esc');
    var btngroup = $('#' + this.id + '-rating-btn-grp');
    
    p.hide();
    btngroup.hide();
    form.fadeIn(500);
    
    $(form).keypress(function(event){
      if(event.keyCode ===13){
        $(this).closest('form').trigger('submit');
      }
      if(event.keyCode === 27){
        $(esc).click();
      }
    })
    $(document).on('keyup', function(event){
      if(event.keyCode === 27){
        $(esc).click();
      }
    })
    $(esc).click(function(){
      form.hide();
      btngroup.fadeIn(500);
      p.fadeIn(500);
    });
   })
 })
 
 $('textarea').on('keydown', function(e){
    
}).on('input', function(){
    $(this).height(1);
    var totalHeight = $(this).prop('scrollHeight') - parseInt($(this).css('padding-top')) - parseInt($(this).css('padding-bottom'));
    $(this).height(totalHeight);
});


$('.controls.rating')
    .addClass('starRating') //in case js is turned off, it fals back to standard radio button
    .on('mouseenter', 'label', function(){
            DisplayRating($(this)); // when we hover into a label, show the ratings
        }
    )
    .on('mouseleave', function() {
        // when we leave the rating div, figure out which one is selected and show the correct rating level
        var $this = $(this),
            $selectedRating = $this.find('input:checked');
        if ($selectedRating.length == 1) {
            DisplayRating($selectedRating); // a rating has been selected, show the stars
        } else {
            $this.find('label').removeClass('on'); // nothing clicked, remove the stars
        };
    }
);

var DisplayRating = function($el){
    // for the passed in element, add the 'on' class to this and all prev labels
    // and remove the 'on' class from all next labels. This stops the flicker of removing then adding back
    $el.addClass('on');
    $el.parent('label').addClass('on');
    $el.closest('td').prevAll().find('label').addClass('on');
    $el.closest('td').nextAll().find('label').removeClass('on');
};
      
 
 
</script>

<% include ../partials/add-artist %>     
<% include ../partials/scripts %>
<% if (currentUser) { %>
<% include ../partials/footer %>
<% } %>